<config>
    <phpunit>
        <suite>
            <modules>
                <Oggetto_MyTest/>
            </modules>
        </suite>
    </phpunit>
    <modules>
        <Oggetto_MyTest>
            <version>0.0.1</version>
        </Oggetto_MyTest>
    </modules>
    <frontend>
        <routers>
            <mytest>
                <use>standard</use>
                <args>
                    <module>Oggetto_MyTest</module>
                    <frontName>mytest</frontName>
                </args>
            </mytest>
        </routers>
        <layout>
            <updates>
                <mytest>
                    <file>mytest.xml</file>
                </mytest>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <ajax>
                <class>Oggetto_Ajax_Model</class>
            </ajax>
        </models>
        <helpers>
            <ajax>
                <class>Oggetto_Ajax_Helper</class>
            </ajax>
        </helpers>
    </global>
</config>
